/* .slider {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.slider .slide-img {
    margin-top: 15px;
    max-width: 95%;
    border-radius: 20px;
}

.slider:after {
    cursor: pointer;
    transition: 0.6s ease;
    border-radius: 20px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 15px;
    margin-bottom: 30px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
}

.slider:before {
    transition: 0.6s ease;
    border-radius: 20px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 15px;
    margin-bottom: 30px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(icon-path);
    opacity: 0;
}

.slider:hover:before,
.slider:hover:after {
    opacity: 1;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;

}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 10px;
    background-color: rgba(203,17,171,.3);
    border-radius: 50%;
    display: inline-block;
}
.active, dot:hover{
    height: 12px;
    width: 12px;
    background-color: rgb(255, 0, 157);
}

.prev,
.next {
    z-index: 1;
    font-weight: 700;
    width: auto;
    margin-top: -32px;
    padding: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    background-color: rgba(230, 230, 230, 0.6);
    transition: 0.6s ease;
}

.prev:hover,
.next:hover {
    background-color: #fff;
    color: #cb11ab;
}

.next {
    right: 70px;
}

.prev {
    left: 70px;
}

.cart {
    overflow-y: scroll;
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 242, 0.8);
    top: 0;
    left: 0;
    display: none;
}

.cart__body {

    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.cart__content {
    background-color: #fff;
    color: #000;
    min-width: 800px;
    padding: 30px;
    position: relative;
    border-radius: 20px;
}

.cart__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart__product {
    margin-bottom: 200px;
}

.cart__close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    text-decoration: none;
}

.cart__box {
    overflow: auto;
    -webkit-box-shadow: 4px 0px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.cart__box div span {
    margin-right: 30px;
}

.cart__box div {
    padding: 10px;
    padding-bottom: 20px;
}

.cart__text {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.cart__content p,
.cart__content .cart__sum {
    font-size: 18px;
    font-weight: 700;
}

.cart__clean {
    font-size: 16px;
    font-weight: 700;
    padding: 14px 25px 15px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #cb11ab;
    border: 2px solid #cb11ab;
}  */

img {
    width: 100% !important;
    height: 370px;
    border-radius: 16px;
}

.sim-slider {
    max-width: 1504px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 32px;
    background-color: white;
    position: relative;
}

.sim-slider-list {
    margin: 8px 0 36px;
    padding: 0;
    list-style-type: none;
    position: relative;
    border-radius: 12px;
    height: 412px;
}

.sim-slider-element {
    width: 100%;
    height: 370px;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    font-size: 0;
    margin: 0;
    top: 45%;
    transform: translate(0, -50%);
    opacity: .5;
    position: absolute;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding: 15px;
    line-height: 1;
    background: #fff;
    border-radius: 100%;
    border: none;
    z-index: 4;
    cursor: pointer;
    transition: .2s;
}

div.sim-slider-arrow-left::before, div.sim-slider-arrow-right::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23000%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
}

div.sim-slider-arrow-left {
    left: 60px;
}

.sim-slider-arrow-left::before {
    transform: rotate(270deg);
}

div.sim-slider-arrow-right {
    right: 60px;
}

.sim-slider-arrow-right::before {
    transform: rotate(90deg);
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-left:hover:before, div.sim-slider-arrow-right:hover:before {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23CB11AB%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E');
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}